<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc  
	    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    	http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">
			
	<context:property-placeholder location="classpath:conf/*.properties" />
	
	<!-- 扫描控制器类 -->
	<context:component-scan base-package="com.basic,com.content,com.core,com.log,com.quartz,com.tyyd,com.util,com.workflow"> 
	    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
	</context:component-scan>
	
	<!-- ACWS框架：当前登录用户获取相关类、scope必须是request -->
	<bean id="acwsSecurity" class="com.tyyd.common.MySecurity"></bean>
	<!-- ACWS框架代码切换扫描：角色权限相关功能支持数据库的切换 -->
	<bean class="com.tyyd.framework.core.scanner.AcwsBeanScanner">
		<property name="basePackages">
			<list>
				<value>com.tyyd.framework.system</value>
			</list>
		</property>
		<property name="includeFilter">
			<list>
				<value>com.tyyd.framework.core.annotation.db.AcwsComponentMysql</value>
			</list>
		</property>
	</bean>
	
	<import resource="spring-scf_test.xml"/>
</beans>