<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" 
	id="WebApp_1432516935806" 
	version="3.1">
  <display-name>文字版权管理系统</display-name>
  <icon>
    <small-icon>/acwsui/img/smallicon.jpg</small-icon>
    <large-icon>/acwsui/img/largeicon.jpg</large-icon>
  </icon>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webapp.CopyrightSystem</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:acws.xml</param-value>
  </context-param>
  <context-param>
    <param-name>logbackConfigLocation</param-name>
    <param-value>classpath:logback.xml</param-value>
  </context-param>
  <listener>
    <listener-class>com.tyyd.framework.web.AcwsContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.tyyd.web.MyContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>requestContextFilter</filter-name>
    <filter-class>org.springframework.web.filter.RequestContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Page Visit Filter</filter-name>
    <filter-class>com.tyyd.framework.web.PageVisitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Page Visit Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TimeoutFilter</filter-name>
    <filter-class>com.tyyd.web.TimeoutFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TimeoutFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>CopyrightSystem</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:acws-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CopyrightSystem</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/acwsui/default/timeout.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/acwsui/default/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/acwsui/default/404.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>fortune</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
      <http-method>HEAD</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>/acwsui/default/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>